*,
*::after,
*::before {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}
*::-moz-focus-inner {
   border: 0;
}

*:focus {
   outline: none;
}

.product_price {
   padding: .33em 0;
}

.rating span {
   margin: 0.1em;
}
.dark-outline {
   border: 2px solid black;
}
.dark-outline:hover {
   background-color: black;
   color: white;
   border: 2px solid black;
}
.dark-btn {
   border: 2px solid black;
}
.dark-btn:hover {
   background-color: white;
   color: black;
   border: 2px solid black;
}
.btn-msg {
   margin-left: .5em;
}
.btn-msg:hover {
   text-decoration: none;
   color: green;
}
.btn-form {
   font-size: 1.2rem;
}
.grey-bg {
   background-color: rgb(233, 231, 231);
}


main {
   min-height: 80vh;
}

main.main--div {
   margin-top: 5rem;

}

h3 {
   padding: 1rem 0;
}

h1 {
   font-size: 1.8rem;
   padding: 1rem 0;
}

h2 {
   font-size: 1.4rem;
   padding: 0.5rem 0;
}


.rating span {
   margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
   display: flex;
}

.carousel-caption {
   position: absolute;
   /* top: 0; */
   bottom: 0;
}

.carousel-caption h2 {
   color: #fff;
}
.carousel-indicators li {
   visibility: hidden;
}
.product-carousel-h4 {
   font-size: .8rem;
   color: #eeeeee;
}
.carousel img {
   height: 300px;
   padding: 30px;
   margin: 40px;
   border-radius: 3px;
   margin-left: auto;
   margin-right: auto;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.carousel a {
   margin: 0 auto;
}

a.dropdown-logout-red {
   color: rgb(155, 20, 20);
   color: #eeeeee;
   font-weight: 600;
}
a.dropdown-logout-red:hover {
   color: #fff;
   background-color: rgb(155, 20, 20);
   font-weight: 600;
}
a.dropdown-profile-dark {
   color: #eeeeee;
}
a.dropdown-profile-dark:hover {
   color:#eeeeee;
   /* background-color: black; */
   background-color: #33B5E5;
   font-weight: 600;
}
.dropdown-item.active,
.dropdown-item:active {
   background-color: #33B5E5;
}
.dropdown-menu {
   color:#eeeeee;
}
.dropdown-menu.show {
   background-color: #343a40;
   
}

a.footer-link {
   letter-spacing: 2px;
   display: block;
   text-decoration: none;
}
a.footer-link:hover {
   color:#a1a1a1;
   text-decoration: none;
}
/* option.dark {
   background-color: #a1a1a1;
   color: #343a40;
}
option.dark:focus,
option.dark:active {
   color: #eeeeee;
   background-color: #343a40;
} */
select option {
   margin: 40px;
   background: rgba(0, 0, 0, 0.3);
      /* background: rgba(250, 250, 250, 0.3); */
   color: #fff;
   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
select option[value]{
   background-color: #343a40;
}
select option[value]:hover,
select option[value]:active,
select option[value]:focus {
   background-color: grey;
   color: #eeeeee;
}
.searchbox {
   letter-spacing: 2px;
   border: 3px solid #33B5E5;
}
/**************** Paginate CSS ****************/
.page-item.active .page-link {
   background-color: transparent !important;
   color:black !important;
   border: 2px solid #33B5E5 !important;
}
.page-item .page-link:hover {
   background-color: #33B5E5;
   opacity: 5;
   color: #eeeeee;
   border-bottom: 3px solid #33B5E5 !important;
   /* border: 2px solid #33B5E5 !important; */
   overflow: hidden;
}
container.product-edit-container {
   margin-top: .5em;
}


/**************** CheckoutSteps CSS ****************/
.checkout-progress div {
   box-sizing: border-box;
}

.checkout-progress {
   display: block;
   clear: both;
   margin: 20px auto;
   width: auto;
   font-family: sans-serif;
   overflow: auto;
}

.step {
   margin: 0;
   border: 0;
   letter-spacing: 1px;
   line-height: 30px;
   padding: 5px 10px 5px 15px;
   color: grey;
   text-decoration: none;
   cursor: default;
   font-weight: bold;
   float: left;
   height: auto;
}

.incomplete {
   background: #eeeeee;
}

.active-step {
   background: #343a40;
   color: #fff;
}

.triangle-active {
   float: left;
   width: 0;
   border-top: 20px solid transparent;
   border-left: 15px solid #343a40;
   border-bottom: 20px solid transparent;
   margin-left: -1px;
}

.triangle2-active {
   width: 0;
   float: left;
   border-top: 20px solid #343a40;
   border-left: 15px solid #a1a1a1;
   border-bottom: 20px solid #343a40;
   margin-right: -1px;
}

.triangle-incomplete {
   float: left;
   width: 0;
   border-top: 20px solid transparent;
   border-left: 15px solid #a1a1a1;
   border-bottom: 20px solid transparent;
   margin-left: -1px;
}

.triangle2-incomplete {
   width: 0;
   float: left;
   border-top: 20px solid #eeeeee;
   border-left: 15px solid #a1a1a1;
   border-bottom: 20px solid #eeeeee;
   margin-right: -1px;
}


@media (max-width: 900px) {
   .carousel-caption h2 {
      font-size: 2.5vw;
   }
}
